---
//@ts-nocheck
import empLoyees from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro"
import Instagram from "@icons/instagram.svg";
import Facebook from "@icons/facebook.svg";
import Twitter from "@icons/twitter.svg";
---

<section>
    <div>
    <h2>Meet Our Great Team</h2>
    <p>Welcome to our amazing team! We are a group of passionate individuals dedicated to excellence and innovation. Each member brings unique skills and experiences, working together to achieve our goals. Join us as we embark on exciting projects and create lasting impacts.</p>
    <a href="" class="button">Join our team</a>
    </div>
<ul>
      {
    empLoyees.map((data) => (
      <li>
        <a href=`/teamMember/${data.slug}`>
        <figure>
            <DynamicImage
    imagePath={data.img}
    altText={data.name}
    width={650}
    height={650}
  />
            <div>
                <p class="button">{data.title}</p></div>
            </figure>
        <h2>{data.name}</h2>
        <p>{data.description}</p>
          <div>
          <Instagram/>
          <Facebook/>
          <Twitter/>
        </div>
        </a>
      </li>
    ))
  }
</ul>
</section>

<style>
      @layer components {
        
        section{
          padding-block: 8vw;
          a{
            text-decoration: none;
          }
            >div{
                    display: grid;
        grid-template-columns: 1fr 1fr auto;
        padding-bottom:43px;
            > * + * {
    margin-top: var(--flow-space, 0.9rlh);
  }
    h2 + p {
    --flow-space: 0.8rlh;
  }
        h2, p{
            grid-column: 1;
        }

       a{
                  grid-column: 3;
            background-color: var(--color-primary-03);
            color: var(--color-secondary-01);
            align-self: end;
                }
            }
        }
        @media (width<800px){
          section{
            >div{
              display: flex;
              flex-direction: column;

              a{
                align-self:start;
              }
            }
          }
        }
        ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
     justify-content: space-between;
     gap: 51px;
  list-style: none;
  text-align: center;

   >:first-child{
    figure{
      p{
         color:var(--color-primary-03);
         background-color: var(--color-primary-01);
      }
      
    }
  }
 li{
  display: grid;
  grid-template-rows: subgrid;
     grid-row: span 4;
 }
    a{
         display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
          gap: 10px;

          div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
      color:var(--color-primary-03);
          }
    }
 
  
 figure{
    display: grid;
   

    >*{
        grid-area: 1/1;
    }
    div{
        display: grid;
        align-items: end;
 justify-content: end;
      padding: 20px;
    }
    p{
           text-align: end;
           color:var(--color-secondary-02);
         background-color: var(--color-primary-03);
         padding:2px 21px;
    }
    img{
      border-radius: var(--card-radius);
    }
  }
}
       }
</style>