---
//@ts-nocheck
import Layout from "@layouts/Layout.astro";
import empLoyees from "@data/employees.json";
console.log(empLoyees)

export async function getStaticPaths() {
    return empLoyees.map(employee => {
        return {
            params: {slug: employee.slug},
            props: {employee}
        }
    })
}

const { employee } = Astro.props;

---

<Layout>
<section>
    <figure>
              <img src={employee.img} alt={employee.name}></img>
    </figure>

      <div>
        <div>
            <h2>{employee.name}</h2>
            <h5>{employee.title}</h5>
            <div>
                
            </div>
            </div>
            <p>{employee.description_long}</p>
            <hr>
            <h3>Past Experience</h3>
            <p>{employee.past_experience}</p>
      </div>

    
</section>

</Layout>

<style>
      @layer components {
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 10vw;
    gap: 89px;
}
      }

</style>